body{
  background-image: URL("https://k60.kn3.net/taringa/D/A/3/C/D/2/gusty3491/F09.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-container{
  max-width: 1300px;
  background-color: rgba(0, 43, 43, .7);
  box-shadow: 0 2px 5px black;
  margin: 0 auto;
}

.nav-container .ul-container li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  display: inline-block;
  padding: 10px 0;
}
.ul-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.li-header{
  display: inline;
}
.ul-container li a:hover{
  color: #00f6ff;
  border-bottom: 5px solid #00f6ff;
  padding-bottom: 5px;
  transition-duration: .3s;
}
.main-container{
  max-width: 1300px;
  background-color: rgba(0, 73, 74, .5);
  margin: 0 auto;
  padding: 20px;
}

.about-section{
  padding: 25px;
}
.title{
  font-size: 60px;
  margin-bottom: 10px;
  color: #00bbc2;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.text{
  font-size: 30px;
  color: white;
  line-height: 1.3em;
}
.window{
  background: rgba(0, 8, 48, .9);
  margin: 20px;
  padding-bottom: 25px;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  transition: transform .5s;
  transform-origin: center;
}
.window:hover{
  transform: scale(1.05);
}
.window-menu{
  background: linear-gradient(to bottom,grey ,#303030);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  color: #a3a3a3;
  text-shadow: 0 -1px 1px black;
}
.tab{
  margin-left: 20px;
}
.text-code-g{
  color: white;
  font-size: 22px;
  margin: 25px 40px;
  line-height: 1.5em;
}
.text-purple{
  color: #c300ff;
}
.text-grey{
  color: #cccccc;
}
.text-red{
  color: #911200;
}
.text-blue{
  color: #0373fc;
}
.text-sky{
  color: #00dfeb;
}
.text-green{
  color: #00a822;
}
.text-greenlight{
  color: #00ff8c;
}
.text-yellow{
  color: #dcf000;
}
.text-code-g a{
  color: #00ff8c;
  text-decoration: none;
}
.text-code-g a:hover{
  color: #85ffc8;
}
.text-code-s{
  color: #00ff1f;
}
.i-exit{
  color: #ff5e00;
}
.show{
  display: none;
}
.ul-container-show{
  height: 0;
  background: rgba(0, 24, 43, .7);
  display: flex;
  text-align: center;
  flex-flow: column;
  transition: height 1s;
  font-size: 0;
}
.ul-container-show li{
  flex: 1;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.ul-container-show li a{
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  transition: font-size 1s;
  display: block;
  margin-top: 0;
}
.ul-container-show li:hover{
  background: rgba(0, 71, 128,.7);
}
.ul-container-show li:hover a{
  color: rgba(8, 46, 16, .7);
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 15px;
}
.project-container{
  position: relative;
  border-radius: 20px;
  height: 25vw;
  margin: 20px 20px;
  box-shadow: 1px 1px 15px black;
  transition: transform 1s;
}
.project-container:hover{
  z-index: 1;
}
.pro-back-1{
  background-image: url("../images/project1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-back-2{
  background-image: url("../images/project2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-back-3{
  background-image: url("https://user-images.githubusercontent.com/11781597/63105959-0e94fa00-bf3f-11e9-9c03-c2af78ebb4ac.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pro-back-4{
  background-image: url("../images/project4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.target-all{
  position: absolute;
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,transparent ,#001c18);
}
.target-all:hover{
  background: linear-gradient(to bottom,transparent 40%,#001c18);
}
.project-title{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
  z-index: 1;
}
.padding{
  padding: 30px;
}
.center{
  text-align: center;
}
.ul-footer{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}
.li-footer{
  display: inline-block;
  flex: 1 1 auto;
  border-right: 3px solid white;
}
.remove-right-border{
  border-right: none;
}
.footer-li-a{
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.footer-li-a:hover{
  color: #00f6ff;
}
@media(max-width:850px){
  .text-code-g{
    font-size: 2.8vw;
  }
  .projects-container{
    grid-template-columns: repeat(1,1fr);
  }
  .project-container{
    height: 60vw;
  }
}
@media(max-width:650px){
  .collapse{
    display: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: right;
    text-shadow: 0 1px 1px black;
    transition: transform .5s;
  }
  .show i:hover{
    color: #00f6ff;
    transform: scale(1.1);
  }
  .show i:active{
    transform: scale(0.9);
    text-shadow: 1px 1px 5px black;
  }
  .ul-footer{
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
  }
  .ul-footer li{
    border: none;
  }
}

@media(max-width:500px){

  .title{
    font-size: 12vw;
  }
  .text{
    font-size: 6vw;
  }
  .text-code-g{
    font-size: 3.5vw;
  }
  .project-title{
    font-size: 5vw;
  }
}
